DEBUG=1
SECRET_KEY=replace-me
ALLOWED_HOSTS=localhost,127.0.0.1
CORS_ALLOWED_ORIGINS=http://localhost:5173,http://127.0.0.1:5173
FRONTEND_BASE_URL=http://localhost:5173
TIME_ZONE=Asia/Tehran

ZARINPAL_BASE_URL=https://sandbox.zarinpal.com
ZARINPAL_MERCHANT_ID=c8d2f8b6-07c1-496c-9f4c-f8e8afae1955

PAYOUT_PER_LISTENER=92
PAYOUT_PER_STREAM=4.2
